.header{
    background-color: rgb(195, 154, 233);
    color: rgb(74, 3, 141);
    text-align: center;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
box-shadow:0 4px 6px color(srgb red green blue)}